@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: black;
}

/* Base styles for .menu--element */
.menu--element {
  display: block;
  position: relative;
  overflow: hidden;
  color: #fff; /* Initial text color */
  padding-left: 60px; /* Left padding */
  font-size: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  background-color: transparent; /* Initial background color is transparent */
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

/* Hover styles for .menu--element */
.menu--element:hover {
  color: #000; /* Text color on hover */
  transform: translateX(5px); /* Move the element to the right on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
  background-color: #8a2be2; /* Purple background color on hover */
  cursor: pointer;
}

/* For mobile Menu */
.full-screen-mobile {
  width: 100vw; /* 100% of the viewport width */
}
